body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.screen{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.screen img{
    width: 45vw;
    height: 100vh;
}

.signUp{
    width: 49vw;
    height: 94vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(232, 116, 0, 0.879);
    padding: 3vh 3vw 3vh 3vw;
}

#header{
    font-size: 26px;
    color: white;
    transition: font-size 0.2s ease; 
}

#header:hover{
    font-size: 28px;
    animation: shake 0.6s ease;
}

.info{
    width: 48vw;
    height: 38vh;
    padding: 15px 15px 15px 15px;

    display: flex;
    flex-direction: column;
    background-color: rgb(18,71,52);
    border-radius: 5px;

    gap:10px;
}

.info p{
    margin: 0;
    font-size: 23px;
    color: white;
}

.row{
    display: flex;
    flex-direction: row;

    gap: 50px;
}

.row label{
    font-size: 20px;
    color: white;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-3px); }
  50%  { transform: translateX(3px); }
  75%  { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}