body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Basically the body */
.screen{
    display: flex;
    flex-direction: row;
    margin: 0;
}

/* Left side of screen image */
.screen img{
    width: 45vw;
    height: 100vh;
}

/* Right side of screen */

.signUp{
    width: 49vw;
    height: 94vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(232, 116, 0, 0.879);
    padding: 3vh 3vw 3vh 3vw;
}

/* Header of sign up side */
#header{
    width: 35vw;
    text-align: center;
    font-size: 2em;
    color: white;
    transition: font-size 0.2s ease; 
}

#header:hover{
    font-size: 2.1em;
    animation: shake 0.4s ease;
}

/* Sign up section */
.info{
    width: 48vw;
    height: 36vh;
    padding: 0.5vh 0.5vw 0vh 0.5vw;

    display: flex;
    flex-direction: column;
    background-color: rgb(18,71,52);
    border-radius: 5px;

    gap:1vh;
}

/* Create account now! */
.info p{
    margin: 0;
    font-size: 1.5em;
    color: white;
}

#copyRight{
    font-size: 1em;
}

/* Where each of the forms are at */
.row{
    display: flex;
    flex-direction: row;
    margin: 0.6vh 0.5vw 0.6vh 0.5vw;
    gap: 3vh;
}

.row label{
    font-size: 20px;
    color: white;
}

.submit{
    width: 100%;                
    display: flex;
    justify-content: flex-start;  
    padding-left: 15px;           
    margin-top: 20px;    
}

.submit button{
    width: 125px;
    height: 65px;

    background-color: rgba(95, 244, 182, 0.775);
    border-radius: 10px;
    border-width: 0px;
    color: white;
    font-size: 25px;
}

input{
    width: 8vw;
    height: 2vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.check{
    color:white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 35vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;

    background-color: silver;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.check.active{
    opacity: 1;
    pointer-events: auto;
}

.check.deactive{
    opacity: 0;
    pointer-events: none;
}

.answer{
    display: flex;
    flex-direction: row;
    padding: 25px;
    gap: 15px;
}

#yes{
    width: 100px;
    height: 50px;
    background-color: green;
}

#no{
    width: 100px;
    height: 50px;
    background-color: red;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-3px); }
  50%  { transform: translateX(3px); }
  75%  { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

@media (max-width: 500px){
    .screen{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .screen img{
        height: 25vh;
        width: 100vw;
    }

    .signUp{
        height: 75vh;
        width: 100vw;
    }

    #header{
        width: 90vw;
        font-size: 1.5em;
    }

    #header:hover{
    font-size: 1.8em;
    animation: shake 0.4s ease;
    }

    .info{
        width: 80vw;
        height: 35vh;
    }

    .info p{
    font-size: 1.4em;
    }

    .row{
    margin: 0.6vh 0.5vw 0.6vh 0.5vw;
    gap: 3vh;
    }

    .row label{
        font-size: 20px;
        color: white;
    }

    input{
        width: 30vw;
    }
}